* {
  margin: 0;
  padding: 0;
  font-family: "Bree Serif", serif;
}

body {
  background-color: rgb(47, 47, 100);
  color: white;
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: beige;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

main > div{
  margin: 40px;
  width: 70%;
}

.add-todo {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.add-todo input {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  outline: 0;
  border:0;
  font-size: 20px;
}

.add-todo button {
  padding: 20px 40px;
  border-radius: 5px;
  border: 0;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.add-todo button:hover {
  opacity: 0.7;
  background-color: rgb(17, 17, 17);
}

.todo-item {

  padding: 20px;
  border-radius: 5px;
  outline: 0;
  border:0;
  font-size: 20px;
  background-color: white;
  opacity: 0.7;
  margin-block: 10px;
  list-style-type: none;
  color: black;
  display: flex;
  justify-content: space-between;
}
.icons {
  display: flex;
  gap: 10px;
}

.delete:hover {
  color: red;
}

.edit:hover {
  opacity: 0.7;
  color: green;
}

.todo-item button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}